body {
  margin: 25px;
  font-family: monospace;
  font-size: 16px;
}

.intro {
  margin-top: 25px;
  width: 700px;
}

a {
  color: black;
}

@media  (max-width: 550px) {
  .intro {
    width: 100%
  }
}

  


